@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #141414;
  color: #fff;
  padding: 0;
  margin: 0;
}
.cardBackground {
  background-color: #1f1f1f;
}
.neon {
  color: #c4f82a;
}
.container {
  height: 100vh;
  width: 100vw;
}
